<div class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center">
  <div class="bg-white p-5 rounded-lg shadow-lg w-4/5 max-w-[500px]">
    <h3>{{ modalTitle }}</h3>

    <div>
      <label for="linguisticValueModal" class="mt-2 block">Valor lingüístico:</label>
      <input type="text" id="linguisticValueModal" [(ngModel)]="linguisticValue" required class="mt-1 p-2 border border-gray-300 rounded w-full">
    </div>

    <div>
      <label for="functionTypeModal" class="mt-2 block">Función de pertenencia:</label>
      <select id="functionTypeModal" [(ngModel)]="functionType" (change)="onFunctionTypeChange()" required class="mt-1 p-2 border border-gray-300 rounded w-full">
        <option value="trapezoidal">Trapezoidal</option>
        <option value="triangular">Triangular</option>
        <option value="sigmoide">Sigmoide</option>
      </select>
    </div>

    <div *ngIf="functionType === 'trapezoidal'">
      <h4 class="mt-4">Puntos Trapezoidal</h4>
      <div class="mt-2">
        <label for="pointA_x_modal" class="block">Punto A (x, 0):</label>
        <input type="number" id="pointA_x_modal" [(ngModel)]="pointA" required class="mt-1 p-2 border border-gray-300 rounded w-full">
      </div>
      <div class="mt-2">
        <label for="pointB_x_modal" class="block">Punto B (x, 1):</label>
        <input type="number" id="pointB_x_modal" [(ngModel)]="pointB" required class="mt-1 p-2 border border-gray-300 rounded w-full">
      </div>
      <div class="mt-2">
        <label for="pointC_x_modal" class="block">Punto C (x, 1):</label>
        <input type="number" id="pointC_x_modal" [(ngModel)]="pointC" required class="mt-1 p-2 border border-gray-300 rounded w-full">
      </div>
      <div class="mt-2">
        <label for="pointD_x_modal" class="block">Punto D (x, 0):</label>
        <input type="number" id="pointD_x_modal" [(ngModel)]="pointD" required class="mt-1 p-2 border border-gray-300 rounded w-full">
      </div>
    </div>

    <div *ngIf="functionType === 'triangular'">
      <h4 class="mt-4">Puntos Triangular</h4>
      <div class="mt-2">
        <label for="pointA_t_x_modal" class="block">Punto A (x, 0):</label>
        <input type="number" id="pointA_t_x_modal" [(ngModel)]="pointA" required class="mt-1 p-2 border border-gray-300 rounded w-full">
      </div>
      <div class="mt-2">
        <label for="pointB_t_x_modal" class="block">Punto B (x, 1):</label>
        <input type="number" id="pointB_t_x_modal" [(ngModel)]="pointB" required class="mt-1 p-2 border border-gray-300 rounded w-full">
      </div>
      <div class="mt-2">
        <label for="pointC_t_x_modal" class="block">Punto C (x, 0):</label>
        <input type="number" id="pointC_t_x_modal" [(ngModel)]="pointC" required class="mt-1 p-2 border border-gray-300 rounded w-full">
      </div>
    </div>

    <div *ngIf="functionType === 'sigmoide'">
      <h4 class="mt-4">Punto Sigmoide</h4>
      <div class="mt-2">
        <label for="pointA_s_x_modal" class="block">Punto A (x, ?):</label>
        <input type="number" id="pointA_s_x_modal" [(ngModel)]="pointA" required class="mt-1 p-2 border border-gray-300 rounded w-full">
      </div>
      <div class="mt-2">
        <label for="pointB_s_x_modal" class="block">Punto B (x, ?):</label>
        <input type="number" id="pointB_s_x_modal" [(ngModel)]="pointB" required class="mt-1 p-2 border border-gray-300 rounded w-full">
      </div>
      <div class="mt-2">
        <label for="pointC_s_x_modal" class="block">Punto C (x, ?):</label>
        <input type="number" id="pointC_s_x_modal" [(ngModel)]="pointC" required class="mt-1 p-2 border border-gray-300 rounded w-full">
      </div>
      <div class="mt-2">
        <label for="pointD_s_x_modal" class="block">Punto D (x, ?):</label>
        <input type="number" id="pointD_s_x_modal" [(ngModel)]="pointD" required class="mt-1 p-2 border border-gray-300 rounded w-full">
      </div>
      <div class="mt-2">
        <label for="pointE_s_x_modal" class="block">Punto E (x, ?):</label>
        <input type="number" id="pointE_s_x_modal" [(ngModel)]="pointE" required class="mt-1 p-2 border border-gray-300 rounded w-full">
      </div>
    </div>

    <div class="mt-5 text-right">
      <button (click)="addValue()" [disabled]="!isValid()" class="ml-2 py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-600">Agregar</button>
      <button (click)="closeModal()" class="ml-2 py-2 px-4 bg-gray-500 text-white rounded hover:bg-gray-600">Cerrar</button>
    </div>
  </div>
</div>
